# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# Environments
.env
.venv
venv/
env/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Ultralytics source
ultralytics/
ultralytics.egg-info/

# Logs
runs/
wandb/
*.log
